@import "tailwindcss";
@import "swiper/css";
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';

.nw-green {
    color: #7BA696;
    background-color: #7BA696;
}

.nw-blue {
    color: #2D5873;
    background-color: #2D5873;
}